/* Map Begin*/
#savanes{
  top: -1200px;
}
#kara{
  top: -1000px;
}
#centrale{
  top: -800px;
}
#plateaux{
  top: -600px;
}
#maritime{
  top: -400px;
}

.entiremap {
  margin-left: 10%;
  margin-bottom: 20%;
}

.map-img{
	right: 50px;
	z-index: 1;
	width: 60%;
	float: right;
	position: relative;
	background-color: #FFF3D9;
	width: 720px;
	height: 545px;
}

.map-imgs{
  right: 10px;
  z-index: 1;
  width: 60%;
  float: right;
  position: relative;
	background-color: #FFF3D9;
	width: 500px;
	height: 300px;
	border: 3px dotted #000000;
	padding: 10px;
	font-size: 110%;
	display: none;
}

.bigtext{
font-size: 120%;
font-weight: bold;
text-align: center;
display: block;
margin: auto;
}

#savanesbild {
  margin-top: 4%
}
#karabild {
  margin-top: -1%
}
#centralebild {
  margin-top: 2%
}
#plateauxbild {
  margin-top: -3%
}

#maptext{
  margin-left: 20%;
  font-weight: bold;
  font-size: 130%;
}

/*Map End*/
