








/* resetting browser styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{

font-family: Quicksand;
color: #333333;
}

/************************************************/
/* NAV and Header Begin */
.nav{

min-height:60px;

}

#nav ul{

list-style: none;

 float: left;
}
#nav li{
float: left;
padding-left: 15px;
padding-right: 15px;
line-height: 60px;
}

#nav li a{
color: #111111;
}
.nav-button button{
height: 60px;
width: 60px;
float: left;
background-image: url("res/img/menu.png");
text-align: center;


}

.header  {
  margin: 0 auto;
  display: block;
}
.header img{
  max-width: 100%;
}
/* NAV and Header End */
/************************************************/

/************************************************/
/* Main Page Begin */
.center {
    text-align: center;
    display: block;
    margin: auto;
}

.intro{

margin: 50px 10% 50px 10%;
}


.intro  h1 {
	text-align: center;
  font-size: 350%;
  line-height: 80px;
  margin-bottom: 20px;
}

.intro hr {
  text-align: center;
  width: 40%;
  margin-top:50px;
  margin-bottom:50px;
  color:#ffffff;

}


.intro  h2 {
  font-size: 280%;
  line-height: 60px;
}

.intro p{
font-size: 20px;
}
.main {
	width: 80%;
	float: left;
}

.sidebar {
	width: 18%;
	margin-left: 2%;
	float: right;
}
.clear {
clear:both;
}
.test{

margin-right: 16%;
margin-left: 16%;
text-align: center;
}


.button  {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  font-family: Quicksand;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 4px 2px;
  cursor: pointer;
  position: fixed;
  float: right;
  right: -8px;
  top: 100px;
  height: 50px;
  width: 100px;
  }

#donate{
	border:1px solid #999999;
  text-align: center;
  width: 40%;
  float: left;
  margin-bottom: 30px;
  min-height: 380px;
  
}

#donate2{
border:1px solid #999999;
text-align: center;
width: 40%;
float: right;	
margin-bottom: 30px;
min-height: 350px;
padding-top: 30px;
}	

.button a {
  color: #FFFFFF;
  text-decoration: none;
  line-height: 50px;

}


.button:hover{
background-color: #01DF74;
}

/* Map Begin*/
#savanes{
  top: -1200px;
}
#kara{
  top: -1000px;
}
#centrale{
  top: -800px;
}
#plateaux{
  top: -600px;
}
#maritime{
  top: -400px;
}


.map-imgs{
  right: 50px;
  z-index: 1;
  float: right;
  position: relative;
	background-color: #FFF3D9;
	width: 500px;
	height: 300px;
	border: 3px dotted #000000;
	padding: 10px;
	font-size: 110%
}

#bigtext{

font-size: 120%;
font-weight: bold;
text-align: center;
display: block;
margin: auto;

}
/*Map End*/


/* Main Page End */
/************************************************/

.footer{
margin-top: 20px;
min-height: 150px;
background: #666666;
width: 100%;
clear:both;

}
