<html>
  <head>
    <meta charset="utf-8">
    <title>Spendenseite Togo</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="icon" href="res/img/placeholder-favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="style.css">
    <script>
      hide_all();
    </script>
  </head>

  <body>
<div class="nav-button">


<button type="button" name="button" onclick="myFunction()"></button>
</div>
    <div id="nav">

      <ul>
        <li><a href="#">Startseite</a></li>
        <li><a href="#">Über Uns</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="header">
      <img src="res/img/placeholder-top.png">
    </div>
<script type="text/javascript">
  function myFunction(){
    var x = document.getElementById("nav");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }

  }
</script>
    <div class="intro">

<<<<<<< HEAD
=======
      <h1>Das HBG spendet für Togo</h1>
	  <h2> Togo </h2>
      <p>Togo ist ein Land an der Westküste Afrikas ,
	  in welchem über 30% der Bevölkerung an Armut leiden.
	  Zehntausende haben keinen Zugang zu Medizin oder zu einer Behausung.
Unsere Schule spendet aus diesen Gründen in Zusammenarbeit mit der Togo
Hilfe Rheinbach für die Gustav Nachtigal-Schule. </p>

<hr />
<div class="main">
<h2> Mehr zur Spende </h2>
<p>Die Spenden werden zur Togohilfe Rheinbach weitergeleitet welche die jeweiligen
Projekte unterstüzen..</p>
</div>
<div class="sidebar">
<img src="res/img/Logo.gif">
</div>
>>>>>>> bb1b01822b6a6ec0587dada8de1d687547f50052

    <h1>Das HBG spendet für Togo</h1>
	  <h2>Togo</h2>
    <p>
      Togo ist ein Land an der Westküste Afrikas ,
  	  in welchem übern welchem über 30% der Bevölkerung an Armut leiden.
  	  Zehntausende haben keinen Zugang zu Medizin oder zu einer Behausung.
      Unsere Schule spendet aus diesen Gründen in Zusammenarbeit mit der Togo
      Hilfe Rheinbach für die Gustav Nachtigal-Schule.


    <h2>Mehr zur Spende:</h2>
    <p>
      Die Spenden werden zur Togohilfe Rheinbach weitergeleitet welche die jeweiligen
      Projekte unterstüzen..
    </p>

    <h2>Das Projekt</h2>
    <p>
      Die schule, für die wir spenden Steht in einem Dorf namens Kpalimé.
      Der Rohbau der Gustav Nachtigal-Schule konnte, inklusive von drei Klassenzimern breits
      beendet werden. Insgesamt belaufen sich die weiteren Kosten inklusive der Tische, Bänke
      und Tafeln auf 17500 Euro.
    </p>

    </div>

    <div class="button">
      <a href="#donate">Donate</a>
    </div>
    <script>

    var y = ["savanes","kara","centrale","plateaux","maritime"]

    function hide_show() {
      hide_all();
      document.getElementById(arguments[0]).style.display = "block";
    }
    function hide_all() {
      for(z = 0; z < y.length; z++){
        document.getElementById(y[z]).style.display = "none";
      }
    }
    </script>

    <div class="map" id="map">
      <img src="res/img/togo-map.jpg" usemap="#togo-usemap" width="75%">
      <map name="togo-usemap" width="100%">
        <area target="" onmouseover="hide_show('savanes')" onmouseout="hide_all()" alt="Savanes" title="Savanes" href="" coords="267,65,276,72,293,67,304,73,303,93,296,98,297,111,293,120,296,125,283,135,281,152,282,168,296,172,309,180,321,191,331,205,337,217,352,217,361,227,370,237,380,237,371,278,379,285,382,297,384,305,417,329,441,328,438,308,454,264,463,264,468,268,483,265,503,255,460,222,460,194,466,181,466,149,480,131,483,117,488,90,436,93,403,103,402,90" shape="poly">
        <area target="" onmouseover="hide_show('savanes')" onmouseout="hide_all()" alt="Kara" title="Kara" href="" coords="381,297,369,297,369,307,374,317,364,330,371,338,362,360,371,364,367,375,354,372,348,377,355,391,367,385,375,389,367,395,349,394,342,403,357,407,343,415,352,425,366,420,369,410,387,408,402,416,400,423,412,427,409,450,401,458,407,475,395,482,397,495,389,508,403,529,403,542,412,540,419,531,432,519,448,502,479,511,494,508,505,499,501,481,509,466,551,467,578,460,594,450,586,411,581,413,574,397,582,386,579,303,502,255,484,265,467,267,453,263,436,310,441,328,412,331,382,309" shape="poly">
        <area target="" onmouseover="hide_show('savanes')" onmouseout="hide_all()" alt="Centrale" title="Centrale" href="" coords="400,545,399,560,378,559,394,598,417,616,432,625,436,638,444,643,442,654,449,657,449,663,418,683,423,688,418,700,425,746,474,729,505,729,523,733,554,727,561,687,552,645,634,647,635,632,645,621,635,609,634,498,625,476,593,450,581,461,554,466,509,464,501,480,504,497,493,508,476,513,448,502,436,512,428,524,420,532,410,541" shape="poly">
        <area target="" onmouseover="hide_show('savanes')" onmouseout="hide_all()" alt="Plateaux" title="Plateaux" href="" coords="425,747,427,790,418,787,415,806,403,813,403,842,411,853,427,852,433,873,427,900,423,912,421,935,403,942,411,950,411,964,406,974,415,978,417,986,431,992,430,1015,441,1023,451,1025,448,1032,468,1027,478,1014,481,971,530,976,555,995,577,975,606,971,629,957,621,935,639,934,640,651,552,645,560,688,552,726,519,737,500,729,470,730" shape="poly">
        <area target="" onmouseover="hide_show('savanes')" onmouseout="hide_all()" alt="Maritime" title="Maritime" href="" coords="448,1029,454,1050,463,1057,475,1066,483,1072,506,1079,513,1097,527,1113,547,1111,548,1122,636,1100,641,1094,675,1085,661,1044,651,1041,651,1031,633,1016,625,1003,628,993,638,986,631,969,634,954,607,968,580,971,557,991,528,973,479,968,478,1009,465,1025" shape="poly">
      </map>
    </div>
    <div class="map-imgs" id="all-img">
      <img title="Savanes" src="res/img/placeholder-1-test.png" id="savanes" class="map-imgs">
      <img title="Kara" src="res/img/placeholder-1-test.png" id="kara" class="map-imgs">
      <img title="Centrale" src="res/img/placeholder-1-test.png" id="centrale" class="map-imgs">
      <img title="Plateaux" src="res/img/placeholder-1-test.png" id="plateaux" class="map-imgs">
      <img title="Maritime" src="res/img/placeholder-1-test.png" id="maritime" class="map-imgs">
    </div>

    </div>

    </div>

    <div id="donate" >
      <h2>Per Banküberweisung spenden</h2>
      <p>Raiffeisenbank Voreifel eG</p>
      <p>IBAN: DE41 3706 9627 0022 2220 23</p>
      <p>  BIC: GENODED1RBC </p>

      <h2>Per PayPal spenden</h2>

      <img src="res/img/paypal.png" alt="paypal" style="margin-top:20px;">

    </div>

    <div class="footer">

    </div>

  </body>
</html>






CSS


/* resetting browser styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{

font-family: Quicksand;
color: #333333;
}

/************************************************/
/* NAV and Header Begin */
.nav{

min-height:60px;

}

#nav ul{

list-style: none;

 float: left;
}
#nav li{
float: left;
padding-left: 15px;
padding-right: 15px;
line-height: 60px;
}

#nav li a{
color: #111111;
}
.nav-button button{
height: 60px;
width: 60px;
float: left;
background-image: url("res/img/menu.png");


}

.header  {
  height: 100%;
  margin: 0 auto;
  display: block;
}
.header img{
  max-width: 100%;
}
/* NAV and Header End */
/************************************************/

/************************************************/
/* Main Page Begin */
.center {
    text-align: center;
    display: block;
    margin: auto;
}

.intro{

margin: 50px 10% 50px 10%;
}


.intro  h1 {
	text-align: center;
  font-size: 350%;
  line-height: 80px;
  margin-bottom: 20px;
}

.intro hr {
  text-align: center;
  width: 40%;
  margin-top:50px;
  margin-bottom:50px;
  color:#ffffff;

}


.intro  h2 {
  font-size: 300%;
  line-height: 60px;
}

.intro p{
font-size: 20px;
}
.main {
	width: 80%;
	float: left;
}

.sidebar {
	width: 18%;
	margin-left: 2%;
	float: right;
}
.clear {
clear:both;
}
.test{

margin-right: 16%;
margin-left: 16%;
text-align: center;
}


.button  {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  font-family: Quicksand;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 4px 2px;
  cursor: pointer;
  position: fixed;
  float: right;
  right: -8px;
  top: 100px;
  height: 50px;
  width: 100px;
  }

#donate{
  text-align: center;
}
.button a {
  color: #FFFFFF;
  text-decoration: none;
  line-height: 50px;
}


.button:hover{
background-color: #01DF74;
}

/* Map Begin*/
.map-imgs #savanes{
  top: -1300;
}
.map-imgs #kara{
  top: -1100;
}
.map-imgs #centrale{
  top: -1000;
}
.map-imgs #plateaux{
  top: -1000;
}
.map-imgs #maritime{
  top: -1000;
}
.map-imgs{

  right: 150px;
  z-index: 1;
  width: 60%;
  float: right;
  position: relative;
}



/* Main Page End */
/************************************************/

.footer{
margin-top: 20px;
min-height: 150px;
background: #666666;

}
