body{

font-family: Quicksand;
color: #333333;
}


.center {
    text-align: center;
    display: block;
    margin: auto;


.intro{
text-align: center;
margin: 80px 50px 50px 50px;
}


.intro  h1 {
  font-size: 300%;
  line-height: 60px;
}

.intro p{
font-size: 20px;
}

.test{

margin-right: 16%;
margin-left: 16%;
text-align: center;


.img-top  {
  width: 100%;
  text-align: center;
  margin: auto;
  display: block;
}

.button  {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  font-family: Quicksand;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 4px 2px;
  cursor: pointer;
  position: fixed;
  float: right;
  right: -8px;
  top: 100px;
  height: 50px;
  width: 100px;
}


.button a{
text-decoration: none;
color: #FFF;

}
.button:hover{
background-color: #01DF74;
}


}
.footer{
margin-top: 20px;
min-height: 150px;
background: #666666;

}
.nav ul{
font-color: black;
list-style: none;


}
.nav li{
float: left;
padding-left: 15px;
padding-right: 15px;

}
#donate{
  text-align: center;
>>>>>>> master

.button a {
  color: #FFFFFF;
  text-decoration: none;
  line-height: 50px;
}
